:root {
    --light-gray: rgb(141, 141, 141);
    --dark-gray: rgb(107, 107, 107);
    --darker-gray: rgb(61, 61, 61);
    --neutral: rgb(208, 208, 208);
}

body {
    margin: 0;
    background-color: var(--neutral);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-container {
    flex-grow: 1;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    grid-auto-flow: row
}

.top-part {
    height: 55px;
    border-bottom: 1px solid var(--light-gray);
}
.chat-box{
    height: 100%;
    padding-top: 20px;
    padding-left: 8px;
    padding-right: 16px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    height: 84vh;
}

.conversation-box{
    height: 100%;
    margin-left: 25px;
    overflow-y: auto;
}

.user-input{
    height:52px;
    border-radius: 16px;
    border: 1px solid var(--light-gray);
    background-color: var(--dark-gray);
    padding-left: 20px;
    padding-right: 13px;
    display: flex;
    align-items: center;
    overflow:hidden;
}

.user-message{
    max-height: 200px;
    width: 100%;
    overflow-y: hidden;
    margin: 0px;
    background-color: transparent;
    border: none;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 15px;
    font-size: 16px;
    color: white;
    font-family: intercom-font, "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;
    resize: none;
}

.user-message::placeholder {
    color: rgb(208, 208, 208);
    font-family: intercom-font, "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;
}

.user-message:focus {
    outline: none;
}

.send-button{
    display: grid;
    width:32px;
    height:31px;
    border-radius: 8px;
    border: 1px solid rgb(55,56,57);
    background-color: var(--dark-gray);
    background-size: 20px;
    cursor: default;
    font-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.send-button:hover{
    border: 1px solid rgb(55,56,57);
    background-color: var(--light-gray);
}

.chat-message{
    display: grid;
    grid-template-columns: 40px auto;
    padding-right: 80px;
}

.chat-image{
    /* there is a problem */
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-top: 10px;
}

.chat-sender{
    font-size: 16px;
    color: var(--dark-gray);
    font-family: intercom-font, "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 10px;
}

.chat-message-text-user{
    font-size: 16px;
    color: --darker-gray;
    font-family: intercom-font, "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 10px;
    line-height: 1.6;
}

.chat-message-text-bot{
    font-size: 16px;
    color: --darker-gray;
    font-family: intercom-font, "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 10px;
    line-height: 1.6;
}

/* This applies to the scrollbar track (the background) */
.conversation-box::-webkit-scrollbar {
    width: 10px;
    background-color: transparent; /* Make the background transparent */
}

/* This applies to the scrollbar thumb (the moving part) */
.conversation-box::-webkit-scrollbar-thumb {
    background-color: rgb(73,74,84); /* Make the thumb dark gray */
    border-radius: 10px;
}

/* This applies to the scrollbar thumb when it's hovered */
.conversation-box::-webkit-scrollbar-thumb:hover {
    background-color: rgb(113,114,122); /* Make the thumb light gray when hovered */
}

.agent-image{
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.agent-definition-box{
    height: 100%;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    overflow-y: auto;
}

.normal-text{
    font-size: 13px;
    color: rgb(236,236,241);
    font-family: intercom-font, "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;
    /* margin-top: 25px; */
    margin-bottom: 5px;
    font-weight: 600;
}

.agent-name-box{
    height:40px;
    border-radius: 16px;
    border: 1px solid var(--light-gray);
    display: flex;
    align-items: center;
    overflow:hidden;
}

.agent-name-input{
    max-height: 40px;
    width: 100%;
    overflow-y: hidden;
    margin: 0px;
    background-color: transparent;
    border: none;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 14px;
    color: white;
    font-family: intercom-font, "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;
    resize: none;
}

.agent-name-input::placeholder {
    color: rgb(142,142,160);
    font-family: intercom-font, "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;
}

.agent-name-input:focus {
    outline: none;
}

.agent-description-box{
    border-radius: 10px;
    border: 1px solid var(--light-gray);
    display: flex;
    align-items: flex-start;
}

.agent-description-input{
    width: 100%;
    margin: 0px;
    background-color: transparent;
    border: none;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 14px;
    color: red;
    font-family: intercom-font, "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;
    resize: none;
    overflow: hidden; /* Hide scrollbar */
}

.agent-description-input:focus {
    outline: none;
}

.agent-description-input::placeholder {
    color: rgb(142,142,160);
    font-family: intercom-font, "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;
}

.agent-description-textarea:focus {
    outline: none;
}

.agent-instructions-box{
    height:200px;
    border-radius: 16px;
    border: 1px solid var(--light-gray);
    display: flex;
    align-items: center;
    overflow:auto;
}

.agent-instructions-textarea{
    height: 500px;
    width: 100%;
    overflow-y: auto;
    margin: 0px;
    background-color: transparent;
    border: none;
    margin-left: 10px;
    margin-top: 15px;
    font-size: 14px;
    color: var(--dark-gray);
    font-family: intercom-font, "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;
    resize: none;
}

/* This applies to the scrollbar track (the background) */
.agent-instructions-textarea::-webkit-scrollbar {
    width: 10px;
    background-color: transparent; /* Make the background transparent */
}

/* This applies to the scrollbar thumb (the moving part) */
.agent-instructions-textarea::-webkit-scrollbar-thumb {
    background-color: rgb(73,74,84); /* Make the thumb dark gray */
    border-radius: 10px;
}

/* This applies to the scrollbar thumb when it's hovered */
.agent-instructions-textarea::-webkit-scrollbar-thumb:hover {
    background-color: rgb(113,114,122); /* Make the thumb light gray when hovered */
}



.agent-instructions-textarea::placeholder {
    color: rgb(142,142,160);
    font-family: intercom-font, "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;
}

.agent-instructions-textarea:focus {
    outline: none;
}

.main-image-box{
    padding-top:25px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 40px 1fr;
    grid-auto-flow: row

}

.main-agent-image {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Dropdown design */


.dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;  /* Smooth transition for expanding and collapsing */
    background-color: var(--neutral);  /* You can adjust the background color as needed */
    padding: 0 18px;
}

.dropdown-btn {
    background-color: var(--neutral);
    color: black;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid var(--light-gray);  /* Separation line for aesthetics */
}

.dropdown-container a {
    color: blue;
    text-decoration: none;
}

.dropdown-container a:hover {
    text-decoration: underline;
}


.indicator {
    float: right;  /* Aligns the indicator to the right */
    margin-left: 10px;  /* Adds some space between the text and the indicator */
}